<div class="span3">
  <div class="teaserImageOne"></div>
  <h3>Für <a class="specialColor">Firmen</a></h3>
  <p>
    Wir entwickeln für Sie auf Basis von Elbfisch maßgeschneiderte Lösungen,
    ob Bibliotheken/Treiber für ihre Hardware-Produkte, oder komplette
    Automatisierung-Applikationen für Ihre Projekte. Sprechen sie uns an: <a href="mailto:info@elbfisch.org">info@elbfisch.org</a>
  </p>
</div>

<div class="span3">
  <div class="teaserImageTwo"></div>
  <h3>Für <a class="specialColor">Entwickler</a></h3>
  <p>
    Es gibt viel zu tun! Schauen Sie im <a href="https://github.com/mskgmbh/elbfisch/wiki">Elbfisch-Wiki</a> nach. 
    Finden Sie dort die Roadmap für die Fortentwicklung des Projekts. Oder haben Sie konkrete eigene Ideen ?
    Lassen Sie uns diese wissen !
  </p>
</div>

<div class="span3">
  <div class="teaserImageThree"></div>
  <h3>Für <a class="specialColor">Anwender</a></h3>
  <p>
    Folgen Sie die den einfachen Beispielen im <a href="https://github.com/mskgmbh/elbfisch/wiki">Elbfisch-Wiki</a>. Sie werden
    sehen, wie schnell Sie Ihre erste Elbfisch-Applikation geschrieben haben.  
  </p>
</div>