<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit header">
  <div class="container headContainer">
  <div class="row">
    <div class="span4">

      <h3 class="teaserText">
        Opensource- Laufzeitsystem für die <br />
        komponentenbasierte Implementierung <br />
        von Automatisierungslösungen mit Java
      </h3>

    </div>

    <div class="span4 downloadContainer offset1">

      <a class="btn btn-primary btn-large btn-warning myBtn" href="http://github.com/mskgmbh/elbfisch/zipball/master">
        Download Elbfisch
        <i class="icon-align-right icon-arrow-down icon-white" style="margin-left: 5px; margin-top: 5px;"></i>
      </a>
    </div>
  </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="gitHubTopBar">
      {% include gitHubBar.html %}
    </div>
  </div>

  <div class="row topRow">
    {% include topRow.html %}
  </div>

  <hr />

  <div class="row bottomRow">
    {% include bottomRow.html %}
  </div>

</div> <!-- /container -->
<div class="row">
  {% include footer.html %}
</div>