<div class="footer">
  <div class="container">
    <div class="row">
      <ul class="social pull-left">
        <li class="fbButton">
          <div class="fb-like" data-href="http://www.elbfisch.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </li>
        <li class="tweetButton">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.elbfisch.org">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </li>
        <li class="plusOneButton">
          <div class="g-plusone" data-size="medium"></div>
        </li>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </ul>
      <div class="gitSocialInner pull-left">
        <iframe src="/github-btn.html?user=mskgmbh&repo=elbfisch&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
        <iframe src="/github-btn.html?user=mskgmbh&repo=elbfisch&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
      </div>
    </div>
    <div class="row">
      <ul class="links pull-left">
        <li><a href="/">Home</a></li>
        <li> | </li>
        <li><a href="https://github.com/mskgmbh/elbfisch">GitHub Project</a></li>
        <li> | </li>
        <li><a href="/imprint.html">Imprint</a></li>
      </ul>
      <div class="copyNote pull-right">
        <div class="copy">
          Icons from <a href="http://glyphicons.com/" target="_blank" class="underscore">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" class="underscore">CC BY 3.0.</a>
        </div>
      </div>
    </div>
  </div>
</div>