<div class="container">
  <div class="row socialBar">
    <div class="span12">
      <div class="gitSocialInner pull-right">
        <iframe src="/github-btn.html?user=mskgmbh&repo=elbfisch&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
        <iframe src="/github-btn.html?user=mskgmbh&repo=elbfisch&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
      </div>
    </div>
  </div>
  <div class="row imprint">
    <div class="span12">
      <h1>Impressum</h1>
      <p>
        MSK-Gesellschaft für Automatisierung mbH<br /><br />
    
        Friedrich-Ebert-Allee 33<br />  
        22869 Schenefeld<br /><br />
    
        Telefon: +49 (0)40 839286-0<br />
        Telefax: +49 (0)40 839286-29<br />
        E-Mail: <a href="mailto:info@elbfisch.org">info@elbfisch.org</a><br /><br />

        Geschäftsführung: Bernd Schuster<br /><br />
    
        Amtsgericht Pinneberg HRB 2960<br />
        USt-ID-Nr.: DE134805286<br /><br />
      </p>
      <p>
        <strong>Haftungshinweis:</strong><br />
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
        Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
      </p>
      <br />
      <p>
        <strong>Webdesign und Realisierung:</strong><br />
        mindworks GmbH, Hamburg<br/>
        <a href="http://www.mindworks.de/" target="_blank">www.mindworks.de</a>
      </p>
    </div>
  </div>
</div>