<div class="container">
  <div class="row socialBar">
    <div class="span12">
      <div class="gitSocialInner pull-right">
        <iframe src="/github-btn.html?user=mskgmbh&repo=elbfisch&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
        <iframe src="/github-btn.html?user=mskgmbh&repo=elbfisch&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
      </div>
    </div>
  </div>
  <div class="row imprint">
    <div class="span12">
      <h1>Imprint / Legal Notice</h1>
      <p>
        MSK-Gesellschaft für Automatisierung mbH<br /><br />
    
        Friedrich-Ebert-Allee 33<br />  
        22869 Schenefeld<br /><br />
    
        Telefon: +49 (0)40 839286-0<br />
        Telefax: +49 (0)40 839286-29<br />
        E-Mail: <a href="mailto:info@elbfisch.org">info@elbfisch.org</a><br /><br />

        Managing Director: Bernd Schuster<br /><br />
    
        Trade Register No.: Amtsgericht Pinneberg HRB 2960<br />
        VAT-ID No.: DE134805286<br /><br />
      </p>
      <p>
        <strong>Disclaimer:</strong><br />
        Despite careful control of the content, we do not assume any liability for the content of external links.
        The operators of the linked pages carry sole responsibility for the content.
      </p>
      <br />
      <p>
        <strong>Web Design and Implementation:</strong><br />
        mindworks GmbH, Hamburg<br/>
        <a href="http://www.mindworks.de/" target="_blank">www.mindworks.de</a>
      </p>
    </div>
  </div>
</div>