<div class="navbar navbar-inverse navbar-fixed-top navbarfixed">
  <div class="navbar-inner navbarfixed">
    <div class="container navbarfixed offset3">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="http://github.com/mskgmbh/elbfisch">Github Project</a></li>
          <li><a href="https://github.com/mskgmbh/elbfisch/wiki/6-Schritte-zur-ersten-Elbfisch-Applikation">Getting Started</a></li>
        </ul>
      <div class="fish"></div>
    </div>
  </div>
</div>