<!--thing long box on the left-->
<div class="span3">
  <h3>Über <a class="specialColor">Elbfisch</a></h3>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>

<!-- wide box on top -->
<div class="span6">
  <h3>Elbfisch <a class="specialColor">Funktionen</a></h3>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus<a> ac cursus commodo, tortor</a> mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>


<!-- quad boxes -->
<div class="span3 fourBox">
  <h3><i class="icon-group"></i><a class="specialColor">FEATURE 1</a></h3>
  <p>Donec id elit non mi porta gravida at eget <a>metus. Fusce dapibus,</a> tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>

<div class="span3 fourBox">
  <h3><i class="icon-charts"></i><a class="specialColor">FEATURE 2</a></h3>
  <p>Donec sed <a>odio dui. Cras justo odio</a>, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>



<!-- quad boxes -->
<div class="span3 fourBox">
  <h3><i class="icon-stopwatch"></i><a class="specialColor">FEATURE 3</a></h3>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>

<div class="span3 fourBox">
  <h3><i class="icon-charts"></i><a class="specialColor">FEATURE 4</a></h3>
  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<div class="socialBasic">

  {% include basicSocialBar.html %}

</div>

</div>